<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>frontproyecto</title>
    <meta name="description" content="Mi app molona">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="/src/frontproyecto-app/frontproyecto-app.html">
    <link rel="import" href="/src/visor-usuario/visor-usuario.html">
    <link rel="import" href="/src/login-usuario/login-usuario.html">
    <link rel="import" href="/src/visor-cuentas/visor-cuentas.html">

    <!-- Para el enrutador, hemos instalado con bower el app-router //-->
    <link rel="import" href="/bower_components/app-router/app-router.html">


    <style>
      .redbg {
        background-color: red;
      }

      .greenbg {
        background-color: green;
      }

      .bluebg {
        background-color: blue;
      }

      .greybg {
        background-color: grey;
      }
    </style>

  </head>
  <body class="test">

<!-- <page-not-found></page-not-found> //-->

<visor-cuentas userid="27"></visor-cuentas>

    <h1>Bienvenido a su banco</h1>

    <!--
    <app-router>
      <app-route path="/"></app-route>
    //-->
      <!--<app-route path="/login" import="/src/login-usuario/login-usuario.html"></app-route> //-->

      <!-- el id no es un nombre aleatorio. Está en el visor-usuario.html en la definición del iron-ajax y en las propiedades
            url="http://localhost:3000/apitechu/v2/users/{{id}}"
      //-->
    <!--  <app-route path="/user/:id" import="/src/visor-usuario/visor-usuario.html"></app-route> //-->
    <!--
      <app-route path="/account/:userId" import="/src/visor-cuentas/visor-cuentas.html"></app-route>
//-->
      <!-- El path="*" tiene que estar el último, ya que va en orden jerárquico  //-->
  <!--    <app-route path="*" import="/src/page-not-found/page-not-found.html"></app-route>

    </app-router>
    //-->


  </body>
</html>
