<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <h2>Identificador de Usuario: [[userid]] </h2>
    <h3>Nº de Cuenta [[iban]]</h3>
    <h3>Saldo en Cuenta [[balance]]</h3>

    <iron-ajax auto
      id="getAccountsById"
      url="http://localhost:3000/apitechu/v2/account/{{userid}}"
      handle-as="json"
      on-response="showData"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, userid :{
            type: String
          }, balance: {
            type: Number
          }
        };
      }

      showData(data) {
        console.log("Entramos en la función showData");
/*
        console.log(data.detail.response.iban);
        console.log(data.detail.response.userId);
        console.log(data.detail.response.balance);
*/
        console.log(data.detail.response);

        this.userid = data.detail.response[0].userId;
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;


      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
